@model Produkt

@{
    ViewData["Title"] = "Dodaj produkt";
}

<h1>Dodaj nowy produkt</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div class="form-group">
                <label for="NazwaProduktu" class="control-label">Produkt</label>
                <input asp-for="NazwaProduktu" class="form-control" />
                <span asp-validation-for="NazwaProduktu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="CenaInput" class="control-label">Cena</label>
                <input asp-for="CenaInput" class="form-control" type="text" />
                <span asp-validation-for="CenaInput" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Ilosc" class="control-label"></label>
                <input asp-for="Ilosc" class="form-control" type="number" />
                <span asp-validation-for="Ilosc" class="text-danger"></span>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Dodaj</button>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Lista zamówień</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
