@model Produkt

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Produkt</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div class="form-group">
                <label asp-for="NazwaProduktu" class="control-label"></label>
                <input asp-for="NazwaProduktu" class="form-control" />
                <span asp-validation-for="NazwaProduktu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cena" class="control-label"></label>
                <input asp-for="Cena" class="form-control" type="number" step="0.01" />
                <span asp-validation-for="Cena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ilosc" class="control-label"></label>
                <input asp-for="Ilosc" class="form-control" type="number" />
                <span asp-validation-for="Ilosc" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Dodaj produkt</button>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
