@model Produkt

@{
    ViewData["Title"] = "Edit";
}

<h1>Edytuj produkt</h1>

<h4>Produkt</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NazwaProduktu" class="control-label"></label>
                <input asp-for="NazwaProduktu" class="form-control" />
                <span asp-validation-for="NazwaProduktu" class="text-danger"></span>             
            </div>
            <div class="form-group">
                <label asp-for="CenaInput" class="control-label"></label>
                <input asp-for="CenaInput" class="form-control" type="text" />
                <span asp-validation-for="CenaInput" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Ilosc" class="control-label"></label>
                <input asp-for="Ilosc" class="form-control" />
                <span asp-validation-for="Ilosc" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
