@model MagazynPro.Models.Zamowienie

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Zamowienia</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="KlientId" />
            <input type="hidden" asp-for="ProduktId" />
            <div class="form-group">
                <label for="NazwaProduktu" class="form-label">Nazwa Produktu</label>
                <span id="NazwaProduktu" class="form-control-plaintext">
                    @(Model.Produkt?.NazwaProduktu ?? "Produkt nieznany")
                </span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="Ilosc" class="control-label"></label>
                <input asp-for="Ilosc" class="form-control" type="number" />
                <span asp-validation-for="Ilosc" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
